.frequencies-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  align-items: flex-start;
}

.no-data-text {
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-subtitle);
  font-style: italic;
}

.chart-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  min-height: 300px;
}

.chart-card canvas {
  max-width: 90%;
  height: 250px;
}

@media (max-width: 950px) {
  .frequencies-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .chart-card canvas {
    max-width: 100%;
    height: auto;
  }

  .button-secondary {
    font-size: 0.9rem;
    padding: 8px 10px;
  }
}

@media (max-width: 480px) {
  .chart-card {
    min-height: 200px;
    padding: 10px;
  }

  .chart-card canvas {
    height: auto;
  }

  .no-data-text {
    font-size: 1rem;
  }
}
